# Cache file
CMakeCache.txt

# cmake_install
*.cmake

#makefile
Makefile

# cmakefiles
CMakeFiles/

#executable file
edgedetect
main

#configfile
edgedetectConfig.h
edgedetectConfig.h.tmp
 
# main files
*.o
*.exe
