# Cache file
CMakeCache.txt

# cmake_install
*.cmake

#makefile
Makefile

# cmakefiles
CMakeFiles/

#executable file
ReadVideo
main

#configfile
ReadVideoConfig.h
ReadVideoConfig.h.tmp
 
# main files
*.o
*.exe
