# Cache file
CMakeCache.txt

# cmake_install
*.cmake

#makefile
Makefile

# cmakefiles
CMakeFiles/

#executable file
histogram

#configfile
histogramConfig.h
histogramConfig.h.tmp
 
# main files
*.o
*.exe
