# Cache file
CMakeCache.txt

# cmake_install
*.cmake

#makefile
Makefile

# cmakefiles
CMakeFiles/

#executable file
flipimage
main

#configfile
flipimageConfig.h
flipimageConfig.h.tmp
 
# main files
*.o
*.exe
